<template>
	<div>
		<section id="hubspotContent">
			<div class="rightSideHeading" style="display: flex !important;align-items: center !important;margin-bottom: 0px !important; padding-left: 13px">
				<div id="viewContactInHubspot" class="rightHeading">
					View Contact in HubSpot
				</div>
			</div>
			<div class="iconsList">
				<div id="tabContainer" class="container">
					<ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-bs-tabs="tabs">
						<li class="nav-item active" role="presentation">
							<a href="#profile" data-bs-toggle="tab" class="nav-link active">
								<img
									:src="hubspotIcon"
									alt="Hubspot Icon"
									height="30"
									title="Open this contact in HubSpot"
									@click.stop="openHubspot"
								/>
							</a>
						</li>
						<li class="nav-item" role="presentation">
							<a href="#notes" data-bs-toggle="tab" class="nav-link">Notes</a>
						</li>
						<li class="nav-item" role="presentation">
							<a href="#edit" data-bs-toggle="tab" class="nav-link">Edit</a>
						</li>
						<li class="nav-item" role="presentation">
							<a href="#bag" data-bs-toggle="tab" class="nav-link">Bag</a>
						</li>
						<li class="nav-item" role="presentation">
							<a href="#ticket" data-bs-toggle="tab" class="nav-link">Ticket</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="tab-body">
			<div class="tab-content">
				<div id="profile" role="tabpanel" style="padding:0px" class="tab-pane fade in active show">
					<div class="tab-content-group">
						<div class="tab-content-group-left">
							<div class="tab-content-group-title">
								Contact Info
							</div>
							<div class="tab-content-group-value">
								<span id="firstNameHW">{{ name }}</span>
								<span id="phone"> ( {{ phone }} ) </span>
								<input id="name" type="hidden" value="" class="readOnlyInput editable" />
							</div>
							<div class="tab-content-group-value-email">
								<span>{{ email }}</span>
								<div>
									<input v-if="saveButton" id="userName" :value="name" placeholder="Name" class="form-control readOnlyInput editable" style="margin-top: 15px" />
								</div>
							</div>
						</div>
						<div class="tab-content-right edit">
							<img v-if="saveButton" id="saveIcon" :src="saveIcon" data-targetInput="userName" alt="save icon" width="18" height="18" />
							<div class="editIconClass">
								<img v-if="editIconButton" :src="editIcon" alt="" @click.stop="editField" />
							</div>
						</div>
					</div>
				</div>
				<div id="notes" role="tabpanel" class="tab-pane fade">
					Notes
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import HubspotIcon from '../../components/PngIcons/profile.png'
import SaveIcon from '../../components/PngIcons/save.png'
import EditIcon from '../../components/PngIcons/edit_icon.png'
import 'bootstrap/dist/css/bootstrap.css'
import Loader from '../../components/Loader/Loader'

export default {
	name: 'HubspotSideBar',
	props: {
		phone: { type: String, required: true },
		name: { type: String, required: true },
		email: { type: String, required: true }
	},
	data() {
		return {
			hubspotIcon: HubspotIcon,
			editIcon: EditIcon,
			saveIcon: SaveIcon,
			saveButton: false,
			editIconButton: true
		}
	},
	methods: {
		editField() {
			this.saveButton = !this.saveButton
			this.editIconButton = !this.editIconButton
		}
	}
}
</script>

<style scoped>
.iconList {
	width: 530px;
    height: 75px;
}

.tab-content-group-title {
    /* position: absolute; */
    width: 101px;
    height: 20px;
    left: 1390px;
    top: 361px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #50616C;
}

span#firstNameHW {
    /* position: absolute; */
    width: 140px;
    height: 24px;
    left: 1390px;
    top: 393px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
span#phone {
	width: 158px;
	height: 22px;
	left: 1542px;
	top: 395px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #000000;
}

.tab-content-group-value-email {
    width: 207px;
    height: 22px;
    left: 1390px;
    top: 425px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1587BA;
}
</style>
