<template>
	<div class="profile">
		<!-- header -->
		<div class="profile_header">
			<svg
				viewBox="0 0 24 24"
				width="24"
				height="24"
				class=""
				@click="$emit('toggle')"
			>
				<path
					fill="#54656f"
					d="m19.1 17.2-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z"
				/>
			</svg>
			<h1 class="profile_header-info">
				{{ heading }}

				<img
					:src="hubspotIcon"
					alt="Hubspot Icon"
					height="30"
					title="Open this contact in HubSpot"
					@click.stop="openHubspot"
				/>
			</h1>
		</div>

		<!-- info -->
		<div v-if="profile_info" class="profile_info">
			<div
				class="img-box"
				:style="{ 'background-image': `url('${avatar}')` }"
				@click="toggleImageViewer"
			/>
			<div class="profile-text-box">
				<h2>{{ room.roomName }}</h2>
				<h3>{{ phone }}</h3>
			</div>
		</div>
		<transition name="vac-fade-message">
			<profile-image
				v-if="showImageViewer"
				:image="avatar"
				:name="room.roomName"
				@close="toggleImageViewer"
			/>
		</transition>

		<div v-show="!startChat">
			<HubspotSideBar
				:name="room.roomName"
				:email="room.roomName"
				:phone="phone"
			/>
		</div>
	</div>
</template>

<script>
import DummyAvatar from '../../components/PngIcons/profile-placeholder.png'
import ProfileImage from './ProfileImage.vue'
import HubspotIcon from '../../components/PngIcons/hubspot_icon.png'
import HubspotSideBar from '../../components/HubspotSideBar/HubspotSideBar'

export default {
	name: 'ProfileBar',
	components: {
		ProfileImage,
		HubspotSideBar
	},
	props: {
		room: { type: Object, required: true }
	},
	emits: ['toggle'],

	data() {
		return {
			avatar: this.room.avatar || DummyAvatar,
			hubspotIcon: HubspotIcon,
			heading: this.room.isGroup ? 'Group info' : 'Contact info',
			phone: this.room.roomName === this.room.phone ? '' : this.room.phone,
			showImageViewer: false,
			profile_info: true,
			startChat: true
		}
	},

	methods: {
		toggleImageViewer() {
			this.showImageViewer = !this.showImageViewer
		},
		openHubspot() {
			this.profile_info = !this.profile_info
			this.startChat	= !this.startChat
		}
	}
}
</script>

<style></style>
