<template>
	<div v-if="show" class="label-search-modal">
		<div class="labels-modal">
			<!-- loader -->
			<div v-if="loading" class="block-ui" />

			<div class="search-group custom">
				<input
					:value="searchValue"
					type="text"
					class="form-control"
					placeholder="Search labels"
					@input="handleInput($event)"
				/>
				<img :src="searchIcon" alt="Search Icon" />
				<span
					v-if="searchValue"
					class="clear-search-icon"
					@click.prevent="handleInput({ target: { value: '' } })"
				>
					&times;
				</span>
			</div>

			<ul class="list-group labels-list">
				<li
					v-for="label in filteredLabels"
					:key="label.id"
					class="list-group-item"
				>
					<div class="d-flex justify-content-between align-items-center">
						<span
							class="label-icon"
							:style="{ background: `${label.color}` }"
						/>
						<span class="label-text">{{ label.name }}</span>
					</div>
					<label
						class="custom-checkbox forward"
						:class="{ checked: label.selected }"
					>
						<input
							type="checkbox"
							:name="label.name"
							class="label-check"
							:checked="label.selected"
							@change="handleCheck($event, label)"
						/>
						<span class="checkmark" />
					</label>
				</li>
			</ul>

			<div class="btn-container">
				<button class="btn btn-primary" @click="handleAddLabel">
					{{ buttontext }}
				</button>
			</div>
		</div>
		<div class="labels-modal_overlay" @click.prevent="closeModal" />
	</div>
</template>

<script>
import SearchIcon from '../PngIcons/search_icon.png'
export default {
	name: 'LabelsModal',
	props: {
		show: { type: Boolean },
		loading: { type: Boolean },
		labels: { type: Array, required: true },
		toggle: { type: Function, default: () => ({}) }
	},
	emits: ['chat-label-handler'],
	data() {
		return {
			searchIcon: SearchIcon,
			searchValue: '',
			labelsData: this.labels.map(el => ({ ...el, selected: false })),
			buttontext: 'Save Changes'
		}
	},

	computed: {
		filteredLabels() {
			return this.labelsData.filter(label =>
				label.name.toLowerCase().includes(this.searchValue.toLowerCase())
			)
		}
	},

	watch: {
		labels: function () {
			this.labelsData = this.labels
		}
	},

	methods: {
		closeModal() {
			this.searchValue = ''
			this.toggle(null)
		},
		handleInput({ target: { value } }) {
			this.searchValue = value
		},
		handleCheck(event, label) {
			const idx = this.labels.findIndex(el => el.id === label.id)
			this.labelsData[idx].selected = event.target.checked
			if (this.labelsData[idx].selected) {
				//	console.log('bb')
				this.buttontext = 'Add Label'
			} else {
				this.buttontext = 'Save Changes'
			}
			// this.$emit('chat-label-handler', event, label)
		},
		handleAddLabel() {
			// console.log(this.labelsData)
			const ids = []
			this.labelsData.forEach(el => {
				if (el.selected) {
					ids.push(el.id)
				}
			})
			const payload = {
				ids: ids.join(','),
				roomId: this.labelsData[0]?.roomId
			}

			this.$emit('chat-label-handler', payload)
		}
	}
}
</script>
