.vac-reply-message {
	background: rgba(165, 165, 165, 0.2);
	border-radius: 4px;
	margin: -1px -5px 8px;
	padding: 8px 10px;
	cursor: pointer;

	.vac-reply-username {
		color: #323232;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 2px;
	}

	.vac-image-reply-container {
		width: 70px;

		.vac-message-image-reply {
			height: 70px;
			width: 70px;
			margin: 4px auto 3px;
		}
	}

	.vac-video-reply-container {
		width: 200px;
		max-width: 100%;

		video {
			border-radius: 4px;
		}
	}

	.vac-reply-content {
		font-size: 12px;
		color: var(--chat-message-color-reply-content);
	}

	.hwa-filename {
		font-size: 12px;

		span {
			display: inline-block;
			overflow: hidden;
			font-style: italic;
		}
		.name {
			margin-top: 2px;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 150px;
		}
		.ext {
			padding-right: 3px;
		}
	}
}
